/BlogApp/node_modules
/BlogApp/public/hot
/BlogApp/public/storage
/BlogApp/storage/*.key
/BlogApp/vendor
/BlogApp/.env
/BlogApp/.env.backup
/BlogApp/.phpunit.result.cache
/BlogApp/Homestead.json
/BlogApp/Homestead.yaml
/BlogApp/npm-debug.log
/BlogApp/yarn-error.log
/BlogApp/.idea
/BlogApp/.vscode

/SmartLibrairy/node_modules
/SmartLibrairy/public/hot
/SmartLibrairy/public/storage
/SmartLibrairy/storage/*.key
/SmartLibrairy/vendor
/SmartLibrairy/.env
/SmartLibrairy/.env.backup
/SmartLibrairy/.phpunit.result.cache
/SmartLibrairy/Homestead.json
/SmartLibrairy/Homestead.yaml
/SmartLibrairy/npm-debug.log
/SmartLibrairy/yarn-error.log
/SmartLibrairy/.idea
/SmartLibrairy/.vscode
